In [1]:
#loading packages
import pyodbc
import csv
import pandas as pd
import sqlalchemy as sa
import timeit
from sqlalchemy.types import NVARCHAR

In [4]:
#creating engine and connection to database server
#format of create engine: //<user>:<pass>@<dsn>:<port>/<dbname>?<driver>
#BE SURE TO CHANGE DBNAME TO CORRECT DB
engine = sa.create_engine('mssql+pyodbc://alaindexing:Capstone2018!@ala-indexing.database.windows.net:1433/test2?driver=SQL+Server')

In [13]:
#local file location
fileLoc = r'C:\Users\hcole\Downloads\cfbstats-com-2005-1-5-0-20181001T184640Z-001\cfbstats-com-2005-1-5-0\\'

#array of file names within folder
dfArray = ['conference', 'stadium', 'team', 'game', 'game-statistics', 'player', 'player-game-statistics', 'team-game-statistics', 'drive', 'play', 'punt', 'punt-return', 'reception', 'rush', 'kickoff', 'kickoff-return', 'pass']

#for loop that reads in file name based on fileLoc, and the current string item in dfArray (called "name" here)
for name in dfArray:
    #read csv in based on parameters
    df = pd.read_csv(fileLoc + name + '.csv')
    
    #replace these three lines with one line to remove punctuation
    df.columns = df.columns.str.replace(' ', '')
    df.columns = df.columns.str.replace('-', '')
    df.columns = df.columns.str.replace('/', '')
    
    #removing dashes from table names
    name = name.replace('-', '')
    print(df.columns)
    
    #pandas framework has a maximum limit of 2100 parameters when inserting rows into a database, so this calculates the max number of rows per insert    
    chunk = 2097 // len(df.columns)
    chunk = 1000 if chunk > 1000 else chunk
    
    #printing out progress and finally converting DataFrame to SQL
    print(name)            
    df.to_sql(name, engine, if_exists = 'append', index = False, dtype={col_name: NVARCHAR for col_name in df if col_name.dtype == 'Object'}, chunksize=chunk)

Index(['ConferenceCode', 'Name', 'Subdivision'], dtype='object')
conference

AttributeError: 'str' object has no attribute 'dtype'

In [7]:
df.dtypes

ConferenceCode     int64
Name              object
Subdivision       object
dtype: object